.ShopListContainer {
  border: 1px solid #eee;
  width: 300px;
  background-color: aliceblue;
  padding-top: 5px 0;
}

.ShopItemContainer {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
    padding-right: 10px;
    padding-left: 5px;
    font-weight: bold;
  }

  .price {
    flex: 1;
    padding-right: 10px;
    color: red;
  }
}
